<div class="container-fluid bgCustom d-flex vh-100">
    <div class="container d-flex flex-column justify-content-center align-items-center gap-5 rounded border border-dark customWidth">
        <div class="d-flex flex-row rounded border border-dark border-2 p-2 w-25 justify-content-between">
            <div class="p-3 d-flex align-items-center">
                <span class="fs-1">{{display}}</span>
            </div>
            <div class="p-5 d-flex">
                <span class="fs-1 colorRes">=</span>
            </div>
        </div>
        <div>
            <div>
                <div>

                </div>
            </div>
        </div>
        <div class="d-flex flex-column gap-2 rounded border border-dark border-2 justify-content-center align-items-center">
            <div class="p-4 d-flex gap-3 flex-column">
                <div class="d-flex flex-row gap-3">
                    <button (click)="clearCalculator()" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes">
                        AC
                    </button>
                    <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes" (click)="setOperatore('/')">
                        /
                    </button>
                    <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes" (click)="setOperatore('*')">
                        *
                    </button>
                    <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes"> 
                        C
                    </button>
                </div>
                <div class="d-flex flex-row gap-3">
                    <button (click)="appendNumber('7')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                        7
                    </button>
                    <button (click)="appendNumber('8')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                        8
                    </button>
                    <button (click)="appendNumber('9')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                        9
                    </button>
                    <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes" (click)="setOperatore('-')">
                        -
                    </button>
                </div>
                <div class="d-flex flex-row gap-3">
                    <button (click)="appendNumber('4')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                        4
                    </button>
                    <button (click)="appendNumber('5')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                        5
                    </button>
                    <button (click)="appendNumber('6')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                        6
                    </button>
                    <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes" (click)="setOperatore('+')">
                        +
                    </button>
                </div>
                <div class="d-flex gap-3 flex-row">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-row gap-3">
                            <button (click)="appendNumber('1')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                                1
                            </button>
                            <button (click)="appendNumber('2')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                                2
                            </button>
                            <button (click)="appendNumber('3')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                                3
                            </button>
                        </div>
                        <div class="d-flex flex-row gap-3">
                            <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes">
                                %
                            </button>
                            <button (click)="appendNumber('0')" class="bg-transparent rounded-circle p-3 fs-3 customWidthButton">
                                0
                            </button>
                            <button class="bg-transparent rounded-circle p-3 fs-3 customWidthButton colorRes" (click)="appendNumber(',')">
                                ,
                            </button>
                        </div>
                    </div>
                    <div class="w-100">
                        <button class="h-100 w-2 bg-transparent rounded colorRes" (click)="caluclate()">=</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>